<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:34</td>   <td>27328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:35</td>   <td>27453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:35</td>   <td>27737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:35</td>   <td>28072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:35</td>   <td>28319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>28549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>28628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>28805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>29017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>29136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>29261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>30069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>30125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>30266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>30333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:38</td>   <td>30413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:38</td>   <td>30451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass1.readTestCasesToExecute(java.lang.String, java.lang.String)[pri:1, instance:TestCases.BaseClass1@2145b572]">readTestCasesToExecute</td> 
  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:34</td>   <td>27309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:35</td>   <td>27453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:35</td>   <td>27736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:35</td>   <td>28072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:35</td>   <td>28319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>28549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>28628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>28804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>29017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>29134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:36</td>   <td>29261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>29950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>30069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>30124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>30266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:37</td>   <td>30333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:38</td>   <td>30412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:38</td>   <td>30451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
<tr bgcolor="b9f197">  <td>18/04/07 18:44:38</td>   <td>30512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass1.saveScreenshot(org.testng.ITestResult)[pri:0, instance:TestCases.BaseClass1@2145b572]">&lt;&lt;saveScreenshot</td> 
<td>&nbsp;</td>  <td>main@1147580192</td>   <td></td> </tr>
</table>
